.app--section1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.app--section1--intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
}

.app--section1--intro span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #091133;
}

.app--section1--intro p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #505f98;
}

.app--section1--intro--brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app--section1--intro--brands--1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
}

.app--section1--intro--brands--2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
}

.app--section1--intro--brands--1 h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.app--section1--intro--brands--1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
}

.app--section1--intro--brands--2 h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.app--section1--intro--brands--2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
}

.app--section1--image img {
  width: 400px;
  height: 300px;
  margin-top: 30px;
}

@media (max-width: 720px) {
  .app--section1 {
    display: flex;
    flex-direction: column;
  }

  .app--section1--intro {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .app--section1 {
    width: 95%;
  }
  .app--section1--image img {
    width: 99%;
  }
}
